<div class="col-sm-7 col-md-7 col-lg-7" style="padding-right: 10px;">
   <div class="box" style="height: 500px; border-radius: 20px; border: 2px solid #8FD6F5; overflow: hidden; background-color: #333;">
      <div class="box-body" style="padding: 5px;">
         <div id="map" style="height: 486px; z-index: 0; border-radius: 15px; border: 2px solid #8FD6F5;"></div>
         <br /> <br />
         <div class="sliderContainer">
            <div id="dotSlider"></div>
         </div>
      </div>
   </div>
   <div id="markerNotificationInfo" class="modal fade" role="dialog">
      <div class="modal-dialog" style="width: 900px;">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <div class="modal-title" id="markerNotificationPlantInfo"></div>
            </div>
            <div class="modal-body" id="markerNotificationInfoModelBody"></div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
         </div>
      </div>
   </div>
</div>