
        <aside class="right-side" style="background:transparent;">
            <section class="content-header" style="background-color:#333;">
                <h1 style="color:#fff;">
                    Meridium
                    <small><span /></small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#" style="color:#fff !important;"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li><a href="#" class="active" style="color:#fff !important;">Meridium</a></li>
                </ol>
            </section>
            <form id="form1" runat="server" method="POST" enctype="multipart/form-data">
                <input id="emailHdn" type="hidden" value="" />
                <section class="content invoice" id="target" style="background:transparent;border: none !important;">
                    <div class="row">
                        <div class="col-xs-12">
                            <!-- interactive chart -->
                            <div class="box box-primary">
                                <div class="box-header" style="background-color: #333">
									<h3 class="box-title" >Meridium</h3>
								</div>								
                                <div class="box-body"  style="height: 400px; border-radius: 20px; border: 2px solid #8FD6F5; overflow: hidden;">
                                   <!--  <object type="text/html" data="https://sec-v20.run.aws-usw02-pr.ice.predix.io/powermap.html" style="height: 98%; width:100%">
                                     <p>backup content</p>
                                    </object> -->
                                    <h1>Coming soon................</h1>
                                </div>
                                <!-- /.box-body-->
                            </div>
                            <!-- /.box -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </section>
            </form>
        </aside>