  <aside class="right-side" style="background:transparent;">
            <section class="content-header" style="background-color:#333;">
                <h1 style="color:#fff;">
                    OE
                    <small><span /></small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#" style="color:#fff !important;"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li><a href="#" class="active" style="color:#fff !important;">OE</a></li>
                </ol>
            </section>
            <form id="form1" runat="server" method="POST" enctype="multipart/form-data">
                <input id="emailHdn" type="hidden" value="" />
                <section class="content invoice" id="target" style="background:transparent;border: none !important;">
					<div class="row">
						<div class="col-xs-12">
							<div class="box">
								<div class="box-header" style="background-color: #333">
									<h3 class="box-title" >OE Data</h3>
								</div>
								<!-- /.box-header -->
							
                     
								<div class="box-body">
									<table id="example2" class="table table-bordered table-striped alternate_color">
										<thead>
											<tr>
												<th>Rendering engine</th>
												<th>Browser</th>
												<th>Platform(s)</th>
												<th>Engine version</th>
												<th>CSS grade</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Trident</td>
												<td>Internet
												Explorer 4.0
												</td>
												<td>Win 95+</td>
												<td> 4</td>
												<td>X</td>
											</tr>
											<tr>
												<td>Trident</td>
												<td>Internet
												Explorer 5.0
												</td>
												<td>Win 95+</td>
												<td>5</td>
												<td>C</td>
											</tr>
											<tr>
												<td>Trident</td>
												<td>Internet
												Explorer 5.5
												</td>
												<td>Win 95+</td>
												<td>5.5</td>
												<td>A</td>
											</tr>
											<tr>
												<td>Trident</td>
												<td>Internet
												Explorer 6
												</td>
												<td>Win 98+</td>
												<td>6</td>
												<td>A</td>
											</tr>
											<tr>
												<td>Trident</td>
												<td>Internet Explorer 7</td>
												<td>Win XP SP2+</td>
												<td>7</td>
												<td>A</td>
											</tr>
											<tr>
												<td>Trident</td>
												<td>AOL browser (AOL desktop)</td>
												<td>Win XP</td>
												<td>6</td>
												<td>A</td>
											</tr>
											<tr>
												<td>Gecko</td>
												<td>Firefox 1.0</td>
												<td>Win 98+ / OSX.2+</td>
												<td>1.7</td>
												<td>A</td>
											</tr>
											<tr>
												<td>Gecko</td>
												<td>Firefox 1.5</td>
												<td>Win 98+ / OSX.2+</td>
												<td>1.8</td>
												<td>A</td>
											</tr>
											<tr>
												<td>Gecko</td>
												<td>Firefox 2.0</td>
												<td>Win 98+ / OSX.2+</td>
												<td>1.8</td>
												<td>A</td>
											</tr>
											<tr>
												<td>Gecko</td>
												<td>Firefox 3.0</td>
												<td>Win 2k+ / OSX.3+</td>
												<td>1.9</td>
												<td>A</td>
											</tr>
										</tbody>
										
									</table>
								</div>
								<!-- /.box-body -->
							</div>
							<!-- /.box -->
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
                	
                </section>
            </form>
        </aside>
        